* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .moon-card {
  width: 800px;
  height: 500px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: relative;
}

.main .moon-card .name {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moon-card .moon-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.main .moon-card .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4cb090;
  position: absolute;
  top: 19.68516%;
  left: 330.20433px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.97878s;
          animation-delay: -0.97878s;
  -webkit-animation-duration: 2.07111s;
          animation-duration: 2.07111s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f94164;
  position: absolute;
  top: 14.42408%;
  left: 537.16268px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.96788s;
          animation-delay: -0.96788s;
  -webkit-animation-duration: 2.0244s;
          animation-duration: 2.0244s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #254c18;
  position: absolute;
  top: 16.4344%;
  left: 701.19177px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.49394s;
          animation-delay: -0.49394s;
  -webkit-animation-duration: 3.10386s;
          animation-duration: 3.10386s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8989b6;
  position: absolute;
  top: 6.28127%;
  left: 106.75784px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.37258s;
          animation-delay: -0.37258s;
  -webkit-animation-duration: 3.23004s;
          animation-duration: 3.23004s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4b3c30;
  position: absolute;
  top: 13.59042%;
  left: 380.27732px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.56025s;
          animation-delay: -0.56025s;
  -webkit-animation-duration: 3.10168s;
          animation-duration: 3.10168s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c59732;
  position: absolute;
  top: 26.89626%;
  left: 389.65603px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.37817s;
          animation-delay: -0.37817s;
  -webkit-animation-duration: 4.10451s;
          animation-duration: 4.10451s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fdfef5;
  position: absolute;
  top: 20.11194%;
  left: 480.91075px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.2636s;
          animation-delay: -0.2636s;
  -webkit-animation-duration: 2.27488s;
          animation-duration: 2.27488s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e2cb73;
  position: absolute;
  top: 7.54053%;
  left: 197.92243px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.79277s;
          animation-delay: -0.79277s;
  -webkit-animation-duration: 4.45457s;
          animation-duration: 4.45457s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #41bba0;
  position: absolute;
  top: 15.06708%;
  left: 191.22921px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.95958s;
          animation-delay: -0.95958s;
  -webkit-animation-duration: 3.59947s;
          animation-duration: 3.59947s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9b3947;
  position: absolute;
  top: 1.6481%;
  left: 626.34872px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.44681s;
          animation-delay: -0.44681s;
  -webkit-animation-duration: 3.76233s;
          animation-duration: 3.76233s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fe6c4d;
  position: absolute;
  top: 11.72671%;
  left: 642.79626px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.88129s;
          animation-delay: -0.88129s;
  -webkit-animation-duration: 3.10988s;
          animation-duration: 3.10988s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #b5a5a3;
  position: absolute;
  top: 23.90806%;
  left: 435.98401px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.71777s;
          animation-delay: -0.71777s;
  -webkit-animation-duration: 2.44161s;
          animation-duration: 2.44161s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c2be1d;
  position: absolute;
  top: 12.38473%;
  left: 307.42457px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.99832s;
          animation-delay: -0.99832s;
  -webkit-animation-duration: 2.34694s;
          animation-duration: 2.34694s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e3a19e;
  position: absolute;
  top: 8.69853%;
  left: 734.91874px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.09347s;
          animation-delay: -0.09347s;
  -webkit-animation-duration: 2.94115s;
          animation-duration: 2.94115s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #06ffec;
  position: absolute;
  top: 4.75299%;
  left: 593.6157px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.29356s;
          animation-delay: -0.29356s;
  -webkit-animation-duration: 2.9026s;
          animation-duration: 2.9026s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #030ddc;
  position: absolute;
  top: 24.8257%;
  left: 554.21481px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.4332s;
          animation-delay: -0.4332s;
  -webkit-animation-duration: 2.60612s;
          animation-duration: 2.60612s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #97e5c4;
  position: absolute;
  top: 1.87838%;
  left: 601.09755px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.45274s;
          animation-delay: -0.45274s;
  -webkit-animation-duration: 4.10619s;
          animation-duration: 4.10619s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #932ae0;
  position: absolute;
  top: 20.31742%;
  left: 3.91535px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.88544s;
          animation-delay: -0.88544s;
  -webkit-animation-duration: 2.41282s;
          animation-duration: 2.41282s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #13cf77;
  position: absolute;
  top: 17.17335%;
  left: 448.57927px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.45558s;
          animation-delay: -0.45558s;
  -webkit-animation-duration: 4.7358s;
          animation-duration: 4.7358s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #524c53;
  position: absolute;
  top: 18.99011%;
  left: 629.20745px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.19763s;
          animation-delay: -0.19763s;
  -webkit-animation-duration: 3.00825s;
          animation-duration: 3.00825s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1420a3;
  position: absolute;
  top: 1.80992%;
  left: 472.37872px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.59799s;
          animation-delay: -0.59799s;
  -webkit-animation-duration: 3.46301s;
          animation-duration: 3.46301s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6f84dc;
  position: absolute;
  top: 19.87553%;
  left: 371.60181px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.63537s;
          animation-delay: -0.63537s;
  -webkit-animation-duration: 2.52712s;
          animation-duration: 2.52712s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #59eeaf;
  position: absolute;
  top: 17.83884%;
  left: 510.16329px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.49781s;
          animation-delay: -0.49781s;
  -webkit-animation-duration: 3.99277s;
          animation-duration: 3.99277s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #514580;
  position: absolute;
  top: 18.47818%;
  left: 62.56497px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.33035s;
          animation-delay: -0.33035s;
  -webkit-animation-duration: 3.9486s;
          animation-duration: 3.9486s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #727080;
  position: absolute;
  top: 21.01009%;
  left: 658.75428px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.853s;
          animation-delay: -0.853s;
  -webkit-animation-duration: 2.14628s;
          animation-duration: 2.14628s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6dac26;
  position: absolute;
  top: 4.27102%;
  left: 372.42799px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.21931s;
          animation-delay: -0.21931s;
  -webkit-animation-duration: 3.70964s;
          animation-duration: 3.70964s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #71aa2a;
  position: absolute;
  top: 8.26368%;
  left: 119.7052px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.6733s;
          animation-delay: -0.6733s;
  -webkit-animation-duration: 2.48428s;
          animation-duration: 2.48428s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7a91a9;
  position: absolute;
  top: 19.12032%;
  left: 69.17686px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.70712s;
          animation-delay: -0.70712s;
  -webkit-animation-duration: 3.1604s;
          animation-duration: 3.1604s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0746b1;
  position: absolute;
  top: 27.96847%;
  left: 60.28255px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.392s;
          animation-delay: -0.392s;
  -webkit-animation-duration: 2.17051s;
          animation-duration: 2.17051s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #13aa5d;
  position: absolute;
  top: 20.6111%;
  left: 791.628px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.70552s;
          animation-delay: -0.70552s;
  -webkit-animation-duration: 2.05185s;
          animation-duration: 2.05185s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */