* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .moon-card {
  width: 800px;
  height: 500px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: relative;
}

.main .moon-card .name {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moon-card .moon-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.main .moon-card .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #791fe2;
  position: absolute;
  top: 4.38598%;
  left: 798.82395px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.03941s;
          animation-delay: -0.03941s;
  -webkit-animation-duration: 3.10884s;
          animation-duration: 3.10884s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7af4fd;
  position: absolute;
  top: 19.46082%;
  left: 465.16445px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.37307s;
          animation-delay: -0.37307s;
  -webkit-animation-duration: 4.14889s;
          animation-duration: 4.14889s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c85592;
  position: absolute;
  top: 2.09951%;
  left: 103.08391px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.86043s;
          animation-delay: -0.86043s;
  -webkit-animation-duration: 4.8326s;
          animation-duration: 4.8326s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #133799;
  position: absolute;
  top: 24.19454%;
  left: 175.9225px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.74128s;
          animation-delay: -0.74128s;
  -webkit-animation-duration: 2.62201s;
          animation-duration: 2.62201s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #111ebd;
  position: absolute;
  top: 0.52266%;
  left: 422.91229px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.7055s;
          animation-delay: -0.7055s;
  -webkit-animation-duration: 4.71271s;
          animation-duration: 4.71271s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #872260;
  position: absolute;
  top: 1.88985%;
  left: 744.15744px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.36369s;
          animation-delay: -0.36369s;
  -webkit-animation-duration: 3.50898s;
          animation-duration: 3.50898s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3bf4e5;
  position: absolute;
  top: 28.43077%;
  left: 210.34914px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.91203s;
          animation-delay: -0.91203s;
  -webkit-animation-duration: 4.11847s;
          animation-duration: 4.11847s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2b019d;
  position: absolute;
  top: 8.18399%;
  left: 377.73829px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.11378s;
          animation-delay: -0.11378s;
  -webkit-animation-duration: 3.11478s;
          animation-duration: 3.11478s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #35aa76;
  position: absolute;
  top: 11.07724%;
  left: 360.27364px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.19839s;
          animation-delay: -0.19839s;
  -webkit-animation-duration: 4.68026s;
          animation-duration: 4.68026s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #03281b;
  position: absolute;
  top: 6.88994%;
  left: 119.38959px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.59756s;
          animation-delay: -0.59756s;
  -webkit-animation-duration: 2.41342s;
          animation-duration: 2.41342s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #eca2e3;
  position: absolute;
  top: 8.87542%;
  left: 27.48446px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.41906s;
          animation-delay: -0.41906s;
  -webkit-animation-duration: 2.26035s;
          animation-duration: 2.26035s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8377be;
  position: absolute;
  top: 2.03565%;
  left: 407.2791px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.30082s;
          animation-delay: -0.30082s;
  -webkit-animation-duration: 2.00998s;
          animation-duration: 2.00998s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #dee809;
  position: absolute;
  top: 11.54172%;
  left: 458.01776px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.91636s;
          animation-delay: -0.91636s;
  -webkit-animation-duration: 4.88169s;
          animation-duration: 4.88169s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f1f742;
  position: absolute;
  top: 1.10483%;
  left: 209.85367px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.29277s;
          animation-delay: -0.29277s;
  -webkit-animation-duration: 2.78584s;
          animation-duration: 2.78584s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #38cfc9;
  position: absolute;
  top: 21.09698%;
  left: 37.19423px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.59431s;
          animation-delay: -0.59431s;
  -webkit-animation-duration: 3.98959s;
          animation-duration: 3.98959s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #79e967;
  position: absolute;
  top: 1.9592%;
  left: 791.18959px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.52231s;
          animation-delay: -0.52231s;
  -webkit-animation-duration: 3.50232s;
          animation-duration: 3.50232s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9b9364;
  position: absolute;
  top: 7.57557%;
  left: 678.76136px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.98293s;
          animation-delay: -0.98293s;
  -webkit-animation-duration: 3.76381s;
          animation-duration: 3.76381s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cbb765;
  position: absolute;
  top: 14.69401%;
  left: 752.78833px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.2709s;
          animation-delay: -0.2709s;
  -webkit-animation-duration: 4.97423s;
          animation-duration: 4.97423s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #783024;
  position: absolute;
  top: 18.61052%;
  left: 34.45118px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.06881s;
          animation-delay: -0.06881s;
  -webkit-animation-duration: 4.65719s;
          animation-duration: 4.65719s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #48c86b;
  position: absolute;
  top: 10.85378%;
  left: 656.55893px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.29757s;
          animation-delay: -0.29757s;
  -webkit-animation-duration: 3.35049s;
          animation-duration: 3.35049s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c683b8;
  position: absolute;
  top: 15.48162%;
  left: 517.67325px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.63685s;
          animation-delay: -0.63685s;
  -webkit-animation-duration: 2.93076s;
          animation-duration: 2.93076s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cc5336;
  position: absolute;
  top: 5.36395%;
  left: 257.37955px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.7383s;
          animation-delay: -0.7383s;
  -webkit-animation-duration: 3.77597s;
          animation-duration: 3.77597s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fc57be;
  position: absolute;
  top: 8.80929%;
  left: 748.30167px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.75704s;
          animation-delay: -0.75704s;
  -webkit-animation-duration: 3.56257s;
          animation-duration: 3.56257s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a43768;
  position: absolute;
  top: 20.69128%;
  left: 40.44722px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.79363s;
          animation-delay: -0.79363s;
  -webkit-animation-duration: 2.97121s;
          animation-duration: 2.97121s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4c4091;
  position: absolute;
  top: 21.93261%;
  left: 34.44351px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.01741s;
          animation-delay: -0.01741s;
  -webkit-animation-duration: 3.60578s;
          animation-duration: 3.60578s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6d96f1;
  position: absolute;
  top: 9.17603%;
  left: 776.62366px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.46876s;
          animation-delay: -0.46876s;
  -webkit-animation-duration: 2.73426s;
          animation-duration: 2.73426s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #04e018;
  position: absolute;
  top: 3.12184%;
  left: 774.69603px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.5122s;
          animation-delay: -0.5122s;
  -webkit-animation-duration: 4.11869s;
          animation-duration: 4.11869s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9b0bbf;
  position: absolute;
  top: 18.32471%;
  left: 531.73155px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.44991s;
          animation-delay: -0.44991s;
  -webkit-animation-duration: 4.78408s;
          animation-duration: 4.78408s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32ff8d;
  position: absolute;
  top: 29.22589%;
  left: 277.46076px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.13162s;
          animation-delay: -0.13162s;
  -webkit-animation-duration: 4.01449s;
          animation-duration: 4.01449s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #763798;
  position: absolute;
  top: 26.68014%;
  left: 428.53993px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.80848s;
          animation-delay: -0.80848s;
  -webkit-animation-duration: 3.61129s;
          animation-duration: 3.61129s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */