* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .moon-card {
  width: 800px;
  height: 500px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: relative;
}

.main .moon-card .name {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moon-card .moon-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.main .moon-card .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2c0ba7;
  position: absolute;
  top: 3.28608%;
  left: 639.40282px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.1059s;
          animation-delay: -0.1059s;
  -webkit-animation-duration: 2.55091s;
          animation-duration: 2.55091s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cebb0f;
  position: absolute;
  top: 25.01431%;
  left: 520.0456px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.86135s;
          animation-delay: -0.86135s;
  -webkit-animation-duration: 3.23576s;
          animation-duration: 3.23576s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4a6317;
  position: absolute;
  top: 7.36936%;
  left: 520.05313px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.49151s;
          animation-delay: -0.49151s;
  -webkit-animation-duration: 2.06079s;
          animation-duration: 2.06079s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4c9744;
  position: absolute;
  top: 10.35032%;
  left: 698.83555px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.02392s;
          animation-delay: -0.02392s;
  -webkit-animation-duration: 3.73076s;
          animation-duration: 3.73076s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #33ec26;
  position: absolute;
  top: 12.15123%;
  left: 498.93428px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.63934s;
          animation-delay: -0.63934s;
  -webkit-animation-duration: 4.32064s;
          animation-duration: 4.32064s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #184c96;
  position: absolute;
  top: 27.3633%;
  left: 22.96131px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.46784s;
          animation-delay: -0.46784s;
  -webkit-animation-duration: 3.8262s;
          animation-duration: 3.8262s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c5687e;
  position: absolute;
  top: 11.85141%;
  left: 23.51006px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.46874s;
          animation-delay: -0.46874s;
  -webkit-animation-duration: 4.35199s;
          animation-duration: 4.35199s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c79a79;
  position: absolute;
  top: 11.39291%;
  left: 669.19974px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.21262s;
          animation-delay: -0.21262s;
  -webkit-animation-duration: 3.43192s;
          animation-duration: 3.43192s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4ac1c5;
  position: absolute;
  top: 10.9778%;
  left: 354.84603px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.0453s;
          animation-delay: -0.0453s;
  -webkit-animation-duration: 4.82964s;
          animation-duration: 4.82964s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #860854;
  position: absolute;
  top: 3.92468%;
  left: 610.13941px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.20581s;
          animation-delay: -0.20581s;
  -webkit-animation-duration: 4.85902s;
          animation-duration: 4.85902s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7eab63;
  position: absolute;
  top: 17.26725%;
  left: 267.53304px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.69859s;
          animation-delay: -0.69859s;
  -webkit-animation-duration: 3.35121s;
          animation-duration: 3.35121s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6413ff;
  position: absolute;
  top: 29.77326%;
  left: 144.04496px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.78079s;
          animation-delay: -0.78079s;
  -webkit-animation-duration: 2.49191s;
          animation-duration: 2.49191s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #38163a;
  position: absolute;
  top: 23.61725%;
  left: 1.59357px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.45321s;
          animation-delay: -0.45321s;
  -webkit-animation-duration: 4.64693s;
          animation-duration: 4.64693s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a6fa72;
  position: absolute;
  top: 13.22586%;
  left: 199.12325px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.59318s;
          animation-delay: -0.59318s;
  -webkit-animation-duration: 3.7116s;
          animation-duration: 3.7116s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ac5a9c;
  position: absolute;
  top: 17.88142%;
  left: 619.32063px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.28038s;
          animation-delay: -0.28038s;
  -webkit-animation-duration: 2.75002s;
          animation-duration: 2.75002s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #185b24;
  position: absolute;
  top: 13.1319%;
  left: 578.25745px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.50065s;
          animation-delay: -0.50065s;
  -webkit-animation-duration: 3.66595s;
          animation-duration: 3.66595s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #04def8;
  position: absolute;
  top: 1.95227%;
  left: 647.97106px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.69334s;
          animation-delay: -0.69334s;
  -webkit-animation-duration: 4.77345s;
          animation-duration: 4.77345s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #72eece;
  position: absolute;
  top: 17.2216%;
  left: 634.96085px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.97188s;
          animation-delay: -0.97188s;
  -webkit-animation-duration: 3.07859s;
          animation-duration: 3.07859s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a96cf6;
  position: absolute;
  top: 10.94366%;
  left: 404.12174px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.44129s;
          animation-delay: -0.44129s;
  -webkit-animation-duration: 3.43114s;
          animation-duration: 3.43114s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fd3d85;
  position: absolute;
  top: 19.12099%;
  left: 284.99407px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.45368s;
          animation-delay: -0.45368s;
  -webkit-animation-duration: 3.33912s;
          animation-duration: 3.33912s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9e8ecd;
  position: absolute;
  top: 11.58536%;
  left: 297.81573px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.41535s;
          animation-delay: -0.41535s;
  -webkit-animation-duration: 2.32743s;
          animation-duration: 2.32743s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #b0ca8e;
  position: absolute;
  top: 14.53767%;
  left: 108.83111px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.02079s;
          animation-delay: -0.02079s;
  -webkit-animation-duration: 3.61841s;
          animation-duration: 3.61841s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a4f893;
  position: absolute;
  top: 18.34031%;
  left: 485.52114px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.75003s;
          animation-delay: -0.75003s;
  -webkit-animation-duration: 4.58467s;
          animation-duration: 4.58467s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c67e66;
  position: absolute;
  top: 21.17363%;
  left: 707.1959px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.37967s;
          animation-delay: -0.37967s;
  -webkit-animation-duration: 2.34094s;
          animation-duration: 2.34094s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d5e21d;
  position: absolute;
  top: 1.93255%;
  left: 386.26996px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.93347s;
          animation-delay: -0.93347s;
  -webkit-animation-duration: 4.90067s;
          animation-duration: 4.90067s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5b6bd3;
  position: absolute;
  top: 16.04346%;
  left: 425.78046px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.66728s;
          animation-delay: -0.66728s;
  -webkit-animation-duration: 2.87962s;
          animation-duration: 2.87962s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #700ccd;
  position: absolute;
  top: 24.37876%;
  left: 597.48399px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.0715s;
          animation-delay: -0.0715s;
  -webkit-animation-duration: 3.59317s;
          animation-duration: 3.59317s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ed9711;
  position: absolute;
  top: 14.13359%;
  left: 233.52734px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.26568s;
          animation-delay: -0.26568s;
  -webkit-animation-duration: 4.42692s;
          animation-duration: 4.42692s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e738b8;
  position: absolute;
  top: 24.87107%;
  left: 21.6325px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.28044s;
          animation-delay: -0.28044s;
  -webkit-animation-duration: 4.87214s;
          animation-duration: 4.87214s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ca3914;
  position: absolute;
  top: 3.58127%;
  left: 662.04053px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.34464s;
          animation-delay: -0.34464s;
  -webkit-animation-duration: 2.33495s;
          animation-duration: 2.33495s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */