<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Api</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    <div id="app">
        <nav>
            <div class="tab" v-on:click="choiceTime0()" v-on:mouseover="mouseOverTime(0)" v-on:mouseout="mouseOutTime(0)">
                當前
            </div>
            <div class="tab" v-on:click="choiceTime1()" v-on:mouseover="mouseOverTime(1)" v-on:mouseout="mouseOutTime(1)">
                稍晚
            </div>
            <div class="tab" v-on:click="choiceTime2()" v-on:mouseover="mouseOverTime(2)" v-on:mouseout="mouseOutTime(2)">
                更晚
            </div>
        </nav>
        
        <div class="card" v-if="flagTime0" v-for="item in resultJson">
            <div :class="item.weatherElement[0].time[0][5]">
            </div>
            <div class="location-name">
                {{ item.locationName }}
            </div>
            <div class="wx">
                {{ item.weatherElement[0].time[0].parameter.parameterName }}
            </div>
            <div class="maxt">
                {{ item.weatherElement[2].time[0].parameter.parameterName }}°C ~ {{ item.weatherElement[4].time[0].parameter.parameterName }}°C
            </div>
            <div class="ci">
                {{ item.weatherElement[3].time[0].parameter.parameterName }}
            </div>
            <div class="pop">
                {{ item.weatherElement[1].time[0].parameter.parameterName }} %
            </div>
        </div>
        <div class="card" v-if="flagTime1" v-for="item in resultJson">
            <div :class="item.weatherElement[0].time[1][5]">
            </div>
            <div class="location-name">
                {{ item.locationName }}
            </div>
            <div class="wx">
                {{ item.weatherElement[0].time[1].parameter.parameterName }}
            </div>
            <div class="maxt">
                {{ item.weatherElement[2].time[1].parameter.parameterName }}°C ~ {{ item.weatherElement[4].time[0].parameter.parameterName }}°C
            </div>
            <div class="ci">
                {{ item.weatherElement[3].time[1].parameter.parameterName }}
            </div>
            <div class="pop">
                {{ item.weatherElement[1].time[1].parameter.parameterName }} %
            </div>
        </div>
        <div class="card" v-if="flagTime2" v-for="item in resultJson">
            <div :class="item.weatherElement[0].time[2][5]">
            </div>
            <div class="location-name">
                {{ item.locationName }}
            </div>
            <div class="wx">
                {{ item.weatherElement[0].time[2].parameter.parameterName }}
            </div>
            <div class="maxt">
                {{ item.weatherElement[2].time[2].parameter.parameterName }}°C ~ {{ item.weatherElement[4].time[0].parameter.parameterName }}°C
            </div>
            <div class="ci">
                {{ item.weatherElement[3].time[2].parameter.parameterName }}
            </div>
            <div class="pop">
                {{ item.weatherElement[1].time[2].parameter.parameterName }} %
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/main.js"></script>
</body>

</html>