$weather_sun :'../img/weather_sun.svg';
$weather_sun_cloud :'../img/weather_sun_cloud.svg';
$weather_sun_cloud_rain :'../img/weather_sun_cloud_rain.svg';
$weather_cloud_rain :'../img/weather_cloud_rain.svg';
$weather_cloud_dark :'../img/weather_cloud_dark.svg';
