@import 'variable';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#app {
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(33.3333% - 20px);
            height: 3rem;
            background-color: #33f;
            color: #dd0;
            font-size: 1.5rem;
            margin: 10px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: blue;
                color: #fff;
                box-shadow: none;
                transform: translate(5px, 5px);
                transition-duration: 0.5s;
            }

            @media screen and (max-width:1000px) {
                width: 100%;
            }
        }
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        @include size(300px, 400px, 10px);
        border: 1px solid black;
        margin: 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);

        .location-name,
        .wx,
        .maxt,
        .mint,
        .ci,
        .pop {
            @include weatherCardStatusText();
        }

        &:hover {
            transform: translate(5px, 5px);
            box-shadow: none;
            transition-duration: 0.5s;
        }
    }
}


.weather-sun {
    @include weatherIconStyle($weather-sun);
}



.weather-sun-cloud {
    @include weatherIconStyle($weather-sun-cloud);
}


.weather-sun-cloud-rain {
    @include weatherIconStyle($weather-sun-cloud-rain);
}


.weather-cloud-rain {
    @include weatherIconStyle($weather-cloud-rain);
}


.weather-cloud-dark {
    @include weatherIconStyle($weather-cloud-dark);
}