.swiper-container {
    // width: 90%;

    &:hover {
        .swiper-button-next {
            display: block;
        }

        .swiper-button-prev {
            display: block;
        }
    }

    .swiper-wrapper {

        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-pagination {

        .pause-slide {
            position: relative;
            &:hover {
                .pause-info{
                    display: block;
                    width: 150px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    // left: 0;
                    // top: 50%;
                    // transform: translate(0, -50%);
                }
            }
        }
        .pause-info{
            display: none;
        }
    }
}