* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .moon-card {
  width: 800px;
  height: 500px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: relative;
}

.main .moon-card .name {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moon-card .moon-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.main .moon-card .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c10ed6;
  position: absolute;
  top: 8.14636%;
  left: 787.23819px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.82558s;
          animation-delay: -0.82558s;
  -webkit-animation-duration: 2.47034s;
          animation-duration: 2.47034s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c9c9e7;
  position: absolute;
  top: 7.2955%;
  left: 751.92939px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.71996s;
          animation-delay: -0.71996s;
  -webkit-animation-duration: 3.22643s;
          animation-duration: 3.22643s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #bed53c;
  position: absolute;
  top: 2.12511%;
  left: 598.32773px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.27702s;
          animation-delay: -0.27702s;
  -webkit-animation-duration: 4.3485s;
          animation-duration: 4.3485s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2f0637;
  position: absolute;
  top: 7.16583%;
  left: 398.60994px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.29354s;
          animation-delay: -0.29354s;
  -webkit-animation-duration: 2.0422s;
          animation-duration: 2.0422s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #171a35;
  position: absolute;
  top: 6.23389%;
  left: 359.53762px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.51875s;
          animation-delay: -0.51875s;
  -webkit-animation-duration: 4.59139s;
          animation-duration: 4.59139s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9dafd0;
  position: absolute;
  top: 7.89464%;
  left: 407.40524px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.43842s;
          animation-delay: -0.43842s;
  -webkit-animation-duration: 2.24807s;
          animation-duration: 2.24807s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #898442;
  position: absolute;
  top: 24.0225%;
  left: 217.1608px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.36329s;
          animation-delay: -0.36329s;
  -webkit-animation-duration: 2.18729s;
          animation-duration: 2.18729s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #639430;
  position: absolute;
  top: 14.22443%;
  left: 316.2543px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.15442s;
          animation-delay: -0.15442s;
  -webkit-animation-duration: 4.29809s;
          animation-duration: 4.29809s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #11f20c;
  position: absolute;
  top: 17.16007%;
  left: 767.03355px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.54875s;
          animation-delay: -0.54875s;
  -webkit-animation-duration: 2.25332s;
          animation-duration: 2.25332s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6872fe;
  position: absolute;
  top: 10.78316%;
  left: 785.72476px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.42684s;
          animation-delay: -0.42684s;
  -webkit-animation-duration: 2.16957s;
          animation-duration: 2.16957s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #89210f;
  position: absolute;
  top: 28.06107%;
  left: 729.03026px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.81776s;
          animation-delay: -0.81776s;
  -webkit-animation-duration: 2.92116s;
          animation-duration: 2.92116s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #91c869;
  position: absolute;
  top: 26.91563%;
  left: 49.58752px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.57767s;
          animation-delay: -0.57767s;
  -webkit-animation-duration: 2.87891s;
          animation-duration: 2.87891s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #886938;
  position: absolute;
  top: 9.35576%;
  left: 26.3871px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.83022s;
          animation-delay: -0.83022s;
  -webkit-animation-duration: 4.90957s;
          animation-duration: 4.90957s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #07a9e6;
  position: absolute;
  top: 15.21229%;
  left: 345.04349px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.95997s;
          animation-delay: -0.95997s;
  -webkit-animation-duration: 3.87222s;
          animation-duration: 3.87222s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ddce46;
  position: absolute;
  top: 15.61148%;
  left: 108.91807px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.17651s;
          animation-delay: -0.17651s;
  -webkit-animation-duration: 3.57841s;
          animation-duration: 3.57841s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #42c16d;
  position: absolute;
  top: 20.69746%;
  left: 15.65616px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.12699s;
          animation-delay: -0.12699s;
  -webkit-animation-duration: 3.74188s;
          animation-duration: 3.74188s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #94dd3c;
  position: absolute;
  top: 13.16474%;
  left: 449.87233px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.1941s;
          animation-delay: -0.1941s;
  -webkit-animation-duration: 3.83566s;
          animation-duration: 3.83566s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f9146c;
  position: absolute;
  top: 13.68199%;
  left: 786.73981px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.87015s;
          animation-delay: -0.87015s;
  -webkit-animation-duration: 3.61491s;
          animation-duration: 3.61491s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #49df56;
  position: absolute;
  top: 4.80039%;
  left: 670.9467px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.84899s;
          animation-delay: -0.84899s;
  -webkit-animation-duration: 2.89823s;
          animation-duration: 2.89823s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #62b587;
  position: absolute;
  top: 11.30597%;
  left: 601.76742px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.48624s;
          animation-delay: -0.48624s;
  -webkit-animation-duration: 3.24992s;
          animation-duration: 3.24992s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1a6431;
  position: absolute;
  top: 29.5283%;
  left: 527.12298px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.27827s;
          animation-delay: -0.27827s;
  -webkit-animation-duration: 4.46419s;
          animation-duration: 4.46419s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0579c5;
  position: absolute;
  top: 26.94864%;
  left: 261.43197px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.1537s;
          animation-delay: -0.1537s;
  -webkit-animation-duration: 4.30776s;
          animation-duration: 4.30776s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #22bfec;
  position: absolute;
  top: 10.89427%;
  left: 205.84664px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.83974s;
          animation-delay: -0.83974s;
  -webkit-animation-duration: 2.75305s;
          animation-duration: 2.75305s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #863cd3;
  position: absolute;
  top: 24.78217%;
  left: 366.96476px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.07805s;
          animation-delay: -0.07805s;
  -webkit-animation-duration: 2.25986s;
          animation-duration: 2.25986s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cb9f19;
  position: absolute;
  top: 22.4981%;
  left: 655.2175px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.07889s;
          animation-delay: -0.07889s;
  -webkit-animation-duration: 3.23998s;
          animation-duration: 3.23998s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #579675;
  position: absolute;
  top: 12.18718%;
  left: 557.58258px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.08988s;
          animation-delay: -0.08988s;
  -webkit-animation-duration: 2.42011s;
          animation-duration: 2.42011s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #09b3cb;
  position: absolute;
  top: 29.01678%;
  left: 351.88043px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.6651s;
          animation-delay: -0.6651s;
  -webkit-animation-duration: 2.07492s;
          animation-duration: 2.07492s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9278a5;
  position: absolute;
  top: 27.09243%;
  left: 135.35449px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.37734s;
          animation-delay: -0.37734s;
  -webkit-animation-duration: 4.26184s;
          animation-duration: 4.26184s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2bd71a;
  position: absolute;
  top: 14.28399%;
  left: 729.96936px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.04524s;
          animation-delay: -0.04524s;
  -webkit-animation-duration: 3.61122s;
          animation-duration: 3.61122s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6e8fe8;
  position: absolute;
  top: 9.78843%;
  left: 448.94287px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.50056s;
          animation-delay: -0.50056s;
  -webkit-animation-duration: 4.66479s;
          animation-duration: 4.66479s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */