* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .moon-card {
  width: 800px;
  height: 500px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: relative;
}

.main .moon-card .name {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moon-card .moon-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.main .moon-card .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3a4106;
  position: absolute;
  top: 2.56057%;
  left: 27.92973px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.62014s;
          animation-delay: -0.62014s;
  -webkit-animation-duration: 4.27932s;
          animation-duration: 4.27932s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #80abbe;
  position: absolute;
  top: 9.6685%;
  left: 510.61745px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.77132s;
          animation-delay: -0.77132s;
  -webkit-animation-duration: 2.94647s;
          animation-duration: 2.94647s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a1962a;
  position: absolute;
  top: 9.91118%;
  left: 750.6217px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.25923s;
          animation-delay: -0.25923s;
  -webkit-animation-duration: 2.50135s;
          animation-duration: 2.50135s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #82e74b;
  position: absolute;
  top: 20.70405%;
  left: 25.0617px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.36608s;
          animation-delay: -0.36608s;
  -webkit-animation-duration: 2.64798s;
          animation-duration: 2.64798s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2a7caa;
  position: absolute;
  top: 12.33749%;
  left: 188.42478px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.76474s;
          animation-delay: -0.76474s;
  -webkit-animation-duration: 2.61507s;
          animation-duration: 2.61507s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7fdae5;
  position: absolute;
  top: 24.86886%;
  left: 188.89305px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.18593s;
          animation-delay: -0.18593s;
  -webkit-animation-duration: 2.25238s;
          animation-duration: 2.25238s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c4fcf7;
  position: absolute;
  top: 10.39385%;
  left: 496.89557px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.92523s;
          animation-delay: -0.92523s;
  -webkit-animation-duration: 3.98946s;
          animation-duration: 3.98946s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6107e7;
  position: absolute;
  top: 27.91615%;
  left: 559.93183px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.46863s;
          animation-delay: -0.46863s;
  -webkit-animation-duration: 4.14893s;
          animation-duration: 4.14893s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #746af9;
  position: absolute;
  top: 29.80421%;
  left: 298.96478px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.08441s;
          animation-delay: -0.08441s;
  -webkit-animation-duration: 3.13123s;
          animation-duration: 3.13123s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6d7d41;
  position: absolute;
  top: 17.66155%;
  left: 153.15626px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.95326s;
          animation-delay: -0.95326s;
  -webkit-animation-duration: 4.12397s;
          animation-duration: 4.12397s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5995ed;
  position: absolute;
  top: 20.11035%;
  left: 257.49669px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.40734s;
          animation-delay: -0.40734s;
  -webkit-animation-duration: 2.71571s;
          animation-duration: 2.71571s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #238e26;
  position: absolute;
  top: 13.96417%;
  left: 491.39672px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.83757s;
          animation-delay: -0.83757s;
  -webkit-animation-duration: 4.74987s;
          animation-duration: 4.74987s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9ee44a;
  position: absolute;
  top: 21.45603%;
  left: 32.54748px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.93429s;
          animation-delay: -0.93429s;
  -webkit-animation-duration: 3.28778s;
          animation-duration: 3.28778s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #555469;
  position: absolute;
  top: 27.48409%;
  left: 734.03376px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.6083s;
          animation-delay: -0.6083s;
  -webkit-animation-duration: 3.71558s;
          animation-duration: 3.71558s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #62c2ea;
  position: absolute;
  top: 13.01237%;
  left: 527.4651px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.71273s;
          animation-delay: -0.71273s;
  -webkit-animation-duration: 3.84564s;
          animation-duration: 3.84564s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3ad5ab;
  position: absolute;
  top: 1.02669%;
  left: 452.62057px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.86177s;
          animation-delay: -0.86177s;
  -webkit-animation-duration: 4.20399s;
          animation-duration: 4.20399s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fd6f6e;
  position: absolute;
  top: 24.27053%;
  left: 644.64108px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.77527s;
          animation-delay: -0.77527s;
  -webkit-animation-duration: 2.48464s;
          animation-duration: 2.48464s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #36e640;
  position: absolute;
  top: 2.67895%;
  left: 641.04697px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.30357s;
          animation-delay: -0.30357s;
  -webkit-animation-duration: 3.52949s;
          animation-duration: 3.52949s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #36460c;
  position: absolute;
  top: 27.39616%;
  left: 473.86871px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.75092s;
          animation-delay: -0.75092s;
  -webkit-animation-duration: 2.48591s;
          animation-duration: 2.48591s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0e9acd;
  position: absolute;
  top: 2.36915%;
  left: 557.23254px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.30842s;
          animation-delay: -0.30842s;
  -webkit-animation-duration: 4.23485s;
          animation-duration: 4.23485s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f6a278;
  position: absolute;
  top: 7.07756%;
  left: 300.30361px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.55936s;
          animation-delay: -0.55936s;
  -webkit-animation-duration: 4.66891s;
          animation-duration: 4.66891s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a99147;
  position: absolute;
  top: 14.41936%;
  left: 240.79574px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.57158s;
          animation-delay: -0.57158s;
  -webkit-animation-duration: 3.85755s;
          animation-duration: 3.85755s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ecc67f;
  position: absolute;
  top: 13.66356%;
  left: 292.05431px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.70254s;
          animation-delay: -0.70254s;
  -webkit-animation-duration: 3.69028s;
          animation-duration: 3.69028s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #720e92;
  position: absolute;
  top: 14.3006%;
  left: 564.35385px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.75474s;
          animation-delay: -0.75474s;
  -webkit-animation-duration: 3.58402s;
          animation-duration: 3.58402s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8e52ff;
  position: absolute;
  top: 3.20615%;
  left: 437.43082px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.13823s;
          animation-delay: -0.13823s;
  -webkit-animation-duration: 4.93205s;
          animation-duration: 4.93205s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d9a63e;
  position: absolute;
  top: 16.3788%;
  left: 513.18935px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.41836s;
          animation-delay: -0.41836s;
  -webkit-animation-duration: 4.3102s;
          animation-duration: 4.3102s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #72ef69;
  position: absolute;
  top: 26.29855%;
  left: 750.03018px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.08787s;
          animation-delay: -0.08787s;
  -webkit-animation-duration: 2.62468s;
          animation-duration: 2.62468s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8e5b11;
  position: absolute;
  top: 18.47265%;
  left: 305.08223px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.95749s;
          animation-delay: -0.95749s;
  -webkit-animation-duration: 4.2242s;
          animation-duration: 4.2242s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #784ce6;
  position: absolute;
  top: 3.03271%;
  left: 53.09423px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.53248s;
          animation-delay: -0.53248s;
  -webkit-animation-duration: 2.38931s;
          animation-duration: 2.38931s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .moon-card .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c6ec25;
  position: absolute;
  top: 14.49475%;
  left: 230.7836px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.26812s;
          animation-delay: -0.26812s;
  -webkit-animation-duration: 4.21302s;
          animation-duration: 4.21302s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */