main .btn-previous {
  padding: calc(0.7rem - 2px) 3rem;
  background-color: #fff;
  color: #29f;
  border: 2px solid #29f;
  border-radius: 5px;
}

main .btn-previous:hover {
  color: #fff;
  background-color: #29f;
}

main .btn-next {
  padding: 0.7rem 3rem;
  background-color: #29f;
  color: #fff;
  border-radius: 5px;
  border-style: none;
}

main .btn-next:hover {
  background-color: #07f;
}

.col-1 img {
  border-radius: 50%;
}

.col-1 input.product-quantity {
  width: 80px;
  height: 2rem;
  margin: auto 0.5rem;
}

.delBtn {
  top: 5px;
  left: 5px;
  padding: 2px;
  z-index: 3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: #940000;
}

main {
  padding: 40px 0;
  background-color: #d2d2d2;
}

main a {
  display: block;
}

main .checkout1 {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
}

main button.product-quantity {
  margin: auto auto;
}

main .progess-bar {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background-color: gray;
  position: relative;
}

main .progess-bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #41aee1;
  border-radius: 10px;
}

main .progess-bar-full {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background-color: #41aee1;
}

main .progess-bar-empty {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background-color: gray;
}

main .progess-point p {
  color: #000;
  position: relative;
}

main .progess-point p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1ed2ff;
  opacity: 0.7;
}

main .progess-point-yet p {
  color: #000;
  position: relative;
}

main .progess-point-yet p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
}

main .pay-way,
main .deliver-way {
  text-align: start;
}

main .address-data {
  text-align: start;
}

main .address-data * {
  padding: 10px;
}

main .address-data input {
  width: 100%;
}

main .order-end-title {
  font-size: 3rem;
  font-weight: 800;
}

main .member-data {
  text-align: start;
  font-size: 1.5rem;
}

main .member-data * {
  padding: 5px 2rem;
}

main .main-title {
  padding: 245px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: #005;
  position: absolute;
  left: 50%;
  overflow: hidden;
}

main .main-title .main-svg {
  width: 245px;
}

main .main-title .main-social {
  width: 100%;
}

main .main-title .main-social span {
  position: relative;
  color: #fff;
  margin: 15px;
}

main .main-title .main-social span::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
}

main .main-title .account,
main .main-title .password {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-title .account input,
main .main-title .password input {
  width: 60%;
  background-color: #000;
  margin: 10px;
  border-style: none;
}

main .main-title .sign-in-btn {
  width: 100%;
  margin: 0 21%;
  border-style: none;
  border-radius: 50px;
  background-color: #66f;
  color: #fff;
}

main .main-title .sign-in-btn:hover {
  background-color: #44f;
}

@media screen and (max-width: 1023px) {
  main .main-title {
    width: 100%;
    left: 0;
    padding: 100px auto 10px;
  }
}
/*# sourceMappingURL=checkout.css.map */