* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F06060;
    color: #FFF;
    position: relative;
}

h1 {
    text-shadow: 1px 1px 1px #ab3c3c;
}

.main .init {
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.score {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    display: none;
}

.re-start {
    width: 100%;
    display: none;
    width: 220px;
    height: 50px;
    border: none;
    background-color: #FCAD26;
    border-radius: 7px;
    box-shadow: 0 5px #da9622;
    font: 400 13.3333px Arial;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
}

.start {
    width: 220px;
    height: 50px;
    border: none;
    background-color: #FCAD26;
    border-radius: 7px;
    box-shadow: 0 5px #da9622;
    font: 400 13.3333px Arial;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
}

.game-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    padding: 5px;
    background-color: #ddd;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.game:hover {
    cursor: pointer;
}