* {
    margin: 0;
    padding: 0;
}

.text-block{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 25px;
}

.text-block h1, .text-block p {
    opacity: 0;
    transition-duration: 0.5s;
}

.text-block p{
    transition-delay: 0.5s;
}

.text-block:hover h1, .text-block:hover p {
    opacity: 1;
}
