* {
    box-sizing: border-box;
    transition: all 0.5s linear;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav {
    width: 320px;
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
}

.nav>.nav-menu-btn {
    display: none;
}

.nav>.nav-logo {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 0 10px 0;
}

.nav>.nav-menu {
    background-color: rgba(255, 255, 0, 0);
}

.nav-menu-link {
    background-color: rgba(255, 255, 0, 0);
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
}

.container {
    width: calc(100% - 320px);
    height: 100vh;
    display: flex;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.container>.content {
    background-color: rgba(165, 42, 42, 0);
    display: flex;
}

.container>.content>.area-X {
    width: 320px;
    height: 640px;
    background-color: rgba(255, 99, 71, 0.856);
    background-image: url(https://lh4.googleusercontent.com/proxy/cE_1QXTh69tnGrc8_NPiZZX-FVKF9W1m-x7o7qmaxtgO3yLgmA-ax6WEHnUxUBcWfTvY6gLpnus_q_x31d2TgW6FGS2aIywHM-Gv6-u4zwu6BpW7=s0-d);
    background-position: center;
    background-size: cover;
    margin: 0 10px 0 0;
}

.container>.content>.area-Y {
    width: 320px;
    height: 640px;
    background-color: rgba(31, 137, 163, 0.849);
    background-image: url(https://lh3.googleusercontent.com/proxy/V987Wt4OfIlOVQ8t_cb7OcyP3s_Ja4QOWDjLu_K0e9E_mtuYAF0vAGf-jvR0ZoAQDJnvAHu7omXc8pz74E5uUfCmFxwHjI1mMMtt21XYduWw6fA=s0-d);
    background-position: center;
    background-size: cover;
    margin: 0 10px 0 0;
}

.container>.content>.area-Z {
    width: 320px;
    height: 640px;
    background-color: rgba(96, 143, 19, 0.877);
    background-image: url(https://wallpaper2017.files.wordpress.com/2016/12/husky-dog-winter-hd-1920x1080.jpg);
    background-position: center;
    background-size: cover;
}

@media (max-width: 1280px) {
    .nav {
        width: 320px;
        height: 100vh;
        background-color: rgba(127, 255, 212, 0.5);
        flex-direction: column;
        padding: 100px 0 0 0;
    }
    .nav>.nav-menu-btn {
        display: none;
    }
    .nav>.nav-menu {
        /* background-color: rgba(255, 255, 0, 0); */
    }
    .nav-menu-link {
        /* background-color: rgba(255, 255, 0, 0); */
        /* margin: 0 0 10px 0; */
        /* display: flex; */
        /* justify-content: center; */
    }
    .container {
        /* width: calc(100% - 320px); */
        /* height: 100vh; */
        /* display: flex; */
        /* flex-grow: 1; */
        /* background-color: rgba(0, 0, 0, 0.5); */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .container>.content {
        flex-wrap: wrap;
    }
    .container>.content>.area-X {
        width: 448px;
        height: 256px;
        margin: 0 0 10px 0;
    }
    .container>.content>.area-Y {
        width: calc(50% - 10px);
        height: 256px;
    }
    .container>.content>.area-Z {
        width: calc(50% - 10px);
        height: 256px;
    }
    @media (max-width: 768px) {
        body {
            flex-wrap: wrap;
        }
        .nav {
            width: 100%;
            height: 100px;
            background-color: rgba(127, 255, 212, 0.5);
            flex-direction: unset;
            justify-content: space-between;
            padding: unset;
        }
        .nav>.nav-menu-btn {
            display: none;
        }
        .nav>.nav-logo {
            width: 80px;
            height: 80px;
            margin: 0 0 0 10px;
        }
        .nav>.nav-menu {
            display: flex;
            margin: 0 20px 0 0;
        }
        .nav-menu-link {
            /* background-color: rgba(255, 255, 0, 0); */
            /* margin: 0 0 10px 0; */
            /* display: flex; */
            /* justify-content: center; */
            margin: 0 10px 0 0;
        }
        .container {
            width: 100%;
            height: calc(100vh - 100px);
            /* background-color: rgba(229, 175, 178, 1); */
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
        }
        .container>.content {
            width: 90%;
            height: 700px;
            display: flex;
        }
        .container>.content>.area-X {
            flex: 100%;
            height: 50%;
            /* margin: 0 0 10px 0; */
        }
        .container>.content>.area-Y {
            flex-basis: calc(50% - 5px);
            height: 50%;
            margin: 0 10px 0 0;
        }
        .container>.content>.area-Z {
            flex-basis: calc(50% - 5px);
            height: 50%;
        }
    }
    @media (max-width: 375px) {
        .nav {
            width: 100%;
            height: 100px;
            background-color: rgba(127, 255, 212, 0.5);
            padding-left: 10px;
            position: relative;
        }
        a {
            display: flex;
        }
        .nav>.nav-menu-btn {
            height: 80px;
            width: 80px;
            background-color: black;
            display: block;
        }
        .nav>.nav-logo {
            width: 50px;
            height: 50px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
        .nav>.nav-menu {
            display: none;
            margin: unset;
            align-self: flex-end;
            flex-direction: column;
        }
        .nav-menu-link {
            margin: auto;
            display: block;
            justify-content: initial;
            margin: 0;
        }
        .nav-menu-btn:hover .nav-menu-btn {
            display: none;
        }
        .nav-menu-btn:hover~.nav-menu {
            display: flex;
        }
        .nav-menu:hover {
            display: flex;
        }
        .nav-menu>a {
            display: flex;
            flex-direction: row;
        }
        .container {
            width: 100%;
            height: calc(100vh - 100px);
            display: block;
            margin: 0;
        }
        .container>.content {
            width: 100%;
            height: 100%;
            display: block;
            flex-wrap: wrap;
        }
        .container>.content>.area-X {
            width: 100%;
            height: 33.33%;
            margin: 0;
        }
        .container>.content>.area-Y {
            width: 100%;
            height: 33.33%;
        }
        .container>.content>.area-Z {
            width: 100%;
            height: 33.33%;
        }
    }
}