* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    width: 320px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
}

.nav-menu-btn {
    display: none;
}
.nav-logo{
    width: 100px;
    height: 100px;
    background-color: brown;
}
.nav-menu{
    margin-bottom: 10px;
}