* {
    box-sizing: border-box;
    transition: all 0.5s linear;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    width: 320px;
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.5);
    float: left;
    padding-top: 100px;
}

.nav-logo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 auto 50px auto;
}

.nav-menu {
    background-color: rgba(255, 255, 0, 0);
    margin: 0 auto;
}

.nav-menu-link {
    background-color: rgba(255, 255, 0, 0);
    text-align: center;
    margin: 0 auto 10px auto;
}

a {
    text-decoration: none;
}

.nav-menu-btn {
    display: none;
}

.container {
    width: calc(100% - 320px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    padding-top: calc((100vh - 640px) / 2);
}

.content {
    width: 960px;
    height: auto;
    background-color: rgba(165, 42, 42, 0.5);
    margin: 0 auto;
}

.area-X {
    width: 318px;
    height: 640px;
    background-color: rgba(255, 99, 71, 0.856);
    background-image: url(https://lh4.googleusercontent.com/proxy/cE_1QXTh69tnGrc8_NPiZZX-FVKF9W1m-x7o7qmaxtgO3yLgmA-ax6WEHnUxUBcWfTvY6gLpnus_q_x31d2TgW6FGS2aIywHM-Gv6-u4zwu6BpW7=s0-d);
    background-position: center;
    background-size: cover;
    float: left;
    margin: 0 2px 0 0;
}

.area-Y {
    width: 318px;
    height: 640px;
    background-color: rgba(31, 137, 163, 0.849);
    background-image: url(https://lh3.googleusercontent.com/proxy/V987Wt4OfIlOVQ8t_cb7OcyP3s_Ja4QOWDjLu_K0e9E_mtuYAF0vAGf-jvR0ZoAQDJnvAHu7omXc8pz74E5uUfCmFxwHjI1mMMtt21XYduWw6fA=s0-d);
    background-position: center;
    background-size: cover;
    float: left;
    margin: 0 1px;
}

.area-Z {
    width: 318px;
    height: 640px;
    background-color: rgba(96, 143, 19, 0.877);
    background-image: url(https://wallpaper2017.files.wordpress.com/2016/12/husky-dog-winter-hd-1920x1080.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    margin: 0 0 0 2px;
}

@media (max-width:1280px) {
    .nav {
        width: 320px;
        height: 100vh;
        float: left;
        padding-top: 100px;
    }
    .nav-logo {
        width: 150px;
        height: 150px;
        margin: 0 auto 50px auto;
    }
    .nav-menu {
        margin: 0 auto;
    }
    .nav-menu-link {
        text-align: center;
        margin: 0 auto 10px auto;
    }
    .container {
        width: calc(100% - 320px);
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        float: left;
        padding-top: calc((100vh - 570px) / 2);
    }
    .content {
        width: 448px;
        height: 570px;
        background-color: rgba(165, 42, 42, 0.5);
        margin: 0 auto;
    }
    .area-X {
        width: 100%;
        height: calc(50% - 10px);
        background-color: rgba(255, 99, 71, 0.856);
        float: none;
        margin: 0 0 10px 0;
    }
    .area-Y {
        width: calc(50% - 5px);
        height: 50%;
        background-color: rgba(31, 137, 163, 0.849);
        float: left;
        margin: 0 10px 0 0;
    }
    .area-Z {
        width: calc(50% - 5px);
        height: 50%;
        background-color: rgba(96, 143, 19, 0.877);
        float: left;
        margin: auto;
    }
}

@media (max-width:768px) {
    .nav {
        width: 100%;
        height: 100px;
        float: none;
        padding: 5px 5%;
    }
    .nav-logo {
        width: 90px;
        height: 90px;
        margin: auto;
        float: left;
    }
    .nav-menu {
        margin: auto;
        float: right;
    }
    .nav-menu-link {
        text-align: initial;
        float: left;
        margin-right: auto 20px auto auto;
    }
    .container {
        width: 90%;
        height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.3);
        float: none;
        margin: auto;
        padding-top: calc((100vh - 100px - 700px) / 2);
    }
    .content {
        width: 100%;
        height: 700px;
        background-color: rgba(165, 42, 42, 0.5);
        margin: 0 auto;
    }
    .area-X {
        width: 100%;
        height: calc(50% - 10px);
        background-color: rgba(255, 99, 71, 0.856);
        float: none;
        margin: 0 0 10px 0;
    }
    .area-Y {
        width: calc(50% - 5px);
        height: 50%;
        background-color: rgba(31, 137, 163, 0.849);
        float: left;
        margin-right: 10px;
    }
    .area-Z {
        width: calc(50% - 5px);
        height: 50%;
        background-color: rgba(96, 143, 19, 0.877);
        float: left;
    }
}

@media (max-width:375px) {
    .nav {
        width: 100%;
        height: 100px;
        float: none;
        padding: 5px 5%;
        position: relative;
    }
    .nav-logo {
        width: 90px;
        height: 90px;
        margin: auto;
        float: none;
    }
    .nav-menu {
        width: 80px;
        height: 80px;
        background-color: rgba(255, 255, 0, 0.384);
        float: none;
        transform: none;
        position: absolute;
        top: 10px;
        left: 3%;
    }
    /* .nav-menu-btn {
        display: none;
    } */
    .nav-menu-link {
        display: none;
    }
    .nav-menu:hover .nav-menu-link {
        /* width: 100px; */
        /* height: 100px; */
        /* background-color: black; */
        display: block;
    }
    /* .nav-menu-btn:hover {
        display: block;
    } */
    .container {
        width: 100%;
        height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.3);
        float: none;
        margin: auto;
        padding-top: 0;
    }
    .content {
        width: 100%;
        height: 100%;
        background-color: rgba(165, 42, 42, 0.5);
        margin: 0 auto;
    }
    .area-X {
        width: 100%;
        height: 34%;
        background-color: rgba(255, 99, 71, 0.856);
        margin: 0;
    }
    .area-Y {
        width: 100%;
        height: 33%;
        background-color: rgba(31, 137, 163, 0.849);
        float: none;
        margin-right: 0;
    }
    .area-Z {
        width: 100%;
        height: 33%;
        background-color: rgba(96, 143, 19, 0.877);
        float: none;
    }
}